@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@600&family=Playfair+Display:ital,wght@1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171415;  
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171415;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Qanelas Soft';
  src: url('/fonts/QanelasSoft-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Qanelas Soft','inter', sans-serif;
}
